# --- Deep Learning Artifacts ---
*.pth
*.pt
*.h5
*.weights
*.onnx
*.pb
*.ckpt

# Ignore all lightning logs or tensorboard runs
lightning_logs/
runs/
wandb/
*.out

# --- Data & Cache ---
data/
datasets/
local_utils/
cache/
*.json
*.sh

# --- Python Environment ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/

# --- Jupyter Notebooks ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- System Files ---
.DS_Store
Thumbs.db
desktop.ini

# --- IDEs ---
.vscode/
.idea/